<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Books</title>
</head>
<body>
  <h1>The First Law Trilogy</h1>
  <ul>
    <% books.forEach(book => { %>
      <li>
        <%= book.title %>
        -
        <%= book.read ? 'read' : 'not read' %>
      </li>
    <% }); %>
  </ul>
</body>
</html>